<a [routerLink]="">
  <div [ngClass]="{'bg-active': active}" class="border-1-lightgray chat-user" >
    <div *ngFor="let user of participants" >
      <div *ngIf="user.username !== activeUser.username">
        <a  class="my-flex-container align-items-center pad-top-5 pad-bottom-5">
          <a [routerLink]="['/',user.username, 'wall']" >
            <img class="border-2-lightgray mar-right-15 height-50" src="./assets/profile_pics/{{user.avatarUrl}}" alt="">
          </a>
          <div [ngClass]="{'font-weight-bold': numberOfUnseenMessages > 0}">
            <p class="font-size-12 unreaded-msgs" *ngIf="numberOfUnseenMessages > 0">Непрочитани пораки: {{ numberOfUnseenMessages }}</p>
            <p class="font-size-14 mar-0 pad-0 center-element">{{ getFullName(user)  }}</p>
            <p class="font-size-14 mar-0 pad-0 " >{{lastMessage}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</a>
