<div class="flex-container flex-column width-280 bg-white border-2-lightgray scroll" >
  <div *ngFor="let t of userThreads">
    <div >
      <app-chat-thread-instance (click)="threadIsChanged(t)"
                                [activeUser]="activeUser"
                                [participants]="t.users"
                                [numberOfUnseenMessages]="t.numOfUnseenMessagesForActiveUser"
                                [lastMessage] = "getLastMessage(t)"
                                [active]="isActiveThread(t)" ></app-chat-thread-instance>
    </div>
  </div>
</div>
