<a [routerLink]="['/',user.username, 'wall']" (click)="onUserSelected(user.username)"
   class="my-flex-container chat-user pad-top-5 pad-bottom-5 width-300 animated fadeIn" >
  <img class="border-2-lightgray mar-right-5 height-100" src="{{'./assets/profile_pics/'+user.profileType+'_'+user.gender+'.jpg'}}" alt="">
  <p class="h6 mar-0 pad-0 center-element">{{user.firstName + ' '+ user.lastName }}</p>
</a>
<!--<button (click)="clicked()">Откажи пријател</button>-->
