<div *ngIf="isUserLoggedIn() && loading.doneLoadingUser">
  <div>
    <app-header></app-header>
    <div class="my-flex-container mar-top-30 ">
      <app-sidebar-cont [profileRoute]="'newsFeed'" [wallUser]="wallUser" class="mar-left-100"></app-sidebar-cont>
      <div class="mar-left-50 width-550">
        <!--create-post-comp-->
        <app-post-create
          class=" animated fadeInDown"
          (createdPost)="onCreatedPost($event)"></app-post-create>

        <!--list-of-posts-->
        <p>Новости: </p>

        <!--<div *ngIf="loading.doneLoadingPostsWithUsers && animateFirstElement">-->
          <!--<div *ngFor="let nfp of newsFeedsPosts; let first = first;">-->
            <!--<app-post-instance-component-->
              <!--[creatorOfPost]="nfp.creatorOfPost"-->
              <!--[animation]="first ? true : false"-->
              <!--[post]="nfp" ></app-post-instance-component>-->
          <!--</div>-->
        <!--</div>-->

        <div *ngIf="loading.doneLoadingPostsWithUsers">
          <div *ngFor="let nfp of newsFeedsPosts; let first = first;">
            <app-post-instance-component
              [activeUser]="activeUser"
              [creatorOfPost]="nfp.creatorOfPost"
              [animation]="false"
              [post]="nfp"
              (postForUpdateLikes)="updatePostLikes($event)"
            ></app-post-instance-component>
          </div>
        </div>

      </div>
      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
