<!--<div class="row col-sm-offset-4 pad-top-10 ">-->
<div>
  <div (keyup.enter)="onUserLoginInput(username.value, password.value)"  class="input-group my-flex-container align-items-center text-white ">
    <label class="jsh-text-gray mar-right-10 fix-pos-text font-size-14 flex-dont-shrink">Корисничко Име: </label>
    <div class="input-group">
      <input #username name="username" type="text" class="mar-right-10 form-control header-items-height ">
    </div>

    <label class="jsh-text-gray mar-right-10 fix-pos-text font-size-14 flex-dont-shrink">Лозинка:</label>
    <div class="input-group">
      <input #password name="password" type="password" class="mar-right-30 form-control header-items-height">
    </div>
    <!--<input class="btn-lg" type="submit" value="Најави се">-->
    <button class="btn-type-1 header-items-height center-element flex-dont-shrink" (click)="onUserLoginInput(username.value, password.value)" >Најави се</button>
    <!--[routerLink]="['/profile/wall']"-->
  </div>

</div>
