<div *ngIf="isUserLoggedIn() && doneLoadingUser">
  <div>
    <app-header></app-header>
    <div class="my-flex-container mar-top-30">
      <app-sidebar-cont [wallUser]="wallUser" class="mar-left-100 animated bounceInLeft"></app-sidebar-cont>
      <div class="mar-left-50 width-550">
        <!--create-post-comp-->
        <app-post-create class=" animated fadeInDown"
                         *ngIf="canCreatePost()"
                         (createdPost)="onCreatedPost($event)"></app-post-create>
        <!--list-of-posts-->
        <div *ngIf="doneLoadingPosts">
          <div *ngFor="let wp of wallPosts; let first = first;">
            <!--<app-post-instance-component-->
              <!--*ngIf="!displayPostsFirstTime"-->
               <!--[animation]="first ? true : false"-->
               <!--[activeUser]="activeUser"-->
               <!--[creatorOfPost]="wp.creatorOfPost"-->
               <!--[post]="wp" ></app-post-instance-component>-->
            <app-post-instance-component
               [activeUser]="activeUser"
               [creatorOfPost]="wp.creatorOfPost"
               (postForUpdateLikes)="updatePostLikes($event)"
               [post]="wp" ></app-post-instance-component>
          </div>
        </div>

      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
