<div class="flex-container flex-column">
  <p class="h6">Креирај објава:</p>

  <form action="" >
    <textarea [(ngModel)]="postText" (keyup.enter)="createPost(postText)" class="fullwidth"  type="text" name="post" placeholder="Што правиш/планираш?"></textarea>
  </form>


  <div *ngIf="currentFileUpload && activePost" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>

  <input type="file" style="display:none;" id="file" name="file" (change)="selectFile($event);upload()">

  <div class="pad-top-10 d-flex justify-content-between">
    <div>
      <input type="button" class="btn btn-sm btn-info" id="loadFileXml" value="Избери слика" onclick="document.getElementById('file').click();" />
      <!--<button class="btn btn-sm btn-info" [disabled]="!selectedFiles" (click)="upload()">Прикачи сликa</button>-->
    </div>
    <button class="btn btn-success text-center" (click)="createPost(postText)">Објави</button>
  </div>

  <!--<div class="my-flex-container justify-content-center">-->
    <!--<button class="btn btn-info text-center" (click)="createPost(postText)">Објави</button>-->
  <!--</div>-->

</div>
