<div *ngIf="doneLoadingFriends" class="flex-container flex-column width-250 pad-10 bg-white border-2-lightgray " >
  <app-profile-picture [profileRoute]="profileRoute" [wallUser]="wallUser"></app-profile-picture>
  <app-profile-main-buttons [friends]="areFriends()"
                            [isActiveUser]="isActiveUser()"
                            [user]="wallUser"
                            (sendMessage)="onSendMessage()"
                            (addFriend)="onAddFriend($event)"
                            class="mar-top-30"></app-profile-main-buttons>
</div>
