<div class="flex-container
  flex-column
  bg-white
  pad-10
  mar-top-20
  mar-bottom-20
  width-550
  border-2-lightgray" [ngClass]="{'animated': animation, 'rubberBand': animation}" >
  <div class="my-flex-container">
    <a [routerLink]="['/',creatorOfPost.username,'wall']"><img class="border-2-lightgray mar-right-5 height-50" src="./assets/profile_pics/{{creatorOfPost.avatarUrl}}" alt=""></a>

    <div>
      <p class=" h6 mar-0 pad-0"><a [routerLink]="['/',creatorOfPost.username,'wall']">{{creatorOfPost.firstName + ' ' + creatorOfPost.lastName}}</a></p>
      <p class="font-size-12 mar-right-100">{{post.timeCreated}}</p>
    </div>
    <!--<a href="#" class="more-btn-pos-post float-right">...</a>-->
  </div>

  <div class="border-top-2-lightgray pad-5">
    <p>{{post.text}}</p>
  </div>

  <img *ngIf="post.picture !== ''" class="pad-bottom-5 fullwidth" src="{{ resolvePicturePath() }}">

  <div class="d-flex
    justify-content-between
    border-top-2-lightgray">

    <div class="mar-right-20 d-flex align-items-center mar-top-10">
      <!--<p class="bg-info"><i class="fa fa-thumbs-up" aria-hidden="true"></i></p>-->
      <img class="image-like-size" src="./assets/like.png" alt="">
      <p class="mar-0 pad-5 text-info">{{post.likes.length}}</p>
    </div>

    <div *ngIf="canLikePost() && post.createdByUsername !== activeUser.username">
      <p class="mar-0 pad-top-10">
        <a class="btn btn-sm btn-outline-warning" (click)="emitPostForUpdateLikes(post, 'like')" [routerLink]="">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          Ми се допаѓања</a>
      </p>
    </div>
    <div *ngIf="!canLikePost() && post.createdByUsername !== activeUser.username">
      <p class="mar-0 pad-top-10">
        <a class="btn btn-sm btn-info text-white" (click)="emitPostForUpdateLikes(post, 'unlike')" [routerLink]="">
          <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i>
          Mи се допаѓања</a>
      </p>
    </div>


    <!--<div class="mar-right-20 "><p class="mar-0 pad-5"><a [routerLink]="">Коментирај</a></p></div>-->
    <!--<div class=""><p class="mar-0 pad-5"><a [routerLink]="">Сподели</a></p></div>-->
  </div>
</div>
