.img-post{
  max-width: 100%;
  margin-bottom: 10px;
}

.more-btn-pos-post{
  margin: 0;
  padding: 0;
  margin-top: -15px;
  font-size: 26px;
  height: 100%;
}

.image-like-size {
 width: 25px;
 height: 25px;
}
