<app-header (spinnerValue)="onSpinnerValue($event)"></app-header>
<app-spinner [hidden]="!showSpinner" class="center-element h2"></app-spinner>
<app-register  [hidden]="showSpinner" class="center-element" ></app-register>
