<div class="mar-top-30">
  <div *ngIf="isActiveUser">
    <div class="list-group mar-top-10">
      <a [routerLink]="['/',user.username, 'news-feed']" class="btn  btn-info"  >Новости</a>
    </div>
    <div class="list-group mar-top-10">
      <a [routerLink]="['/',user.username, 'messages']" class="btn  btn-info"  >Пораки</a>
    </div>
  </div>


  <div *ngIf="!friends && !isActiveUser && !proposalSent" class="list-group mar-top-10">
    <a (click)="onClickAddFriend()" class="btn btn-warning" [routerLink]="" >Додади пријател</a>
  </div>

  <div class="list-group mar-top-10">
    <a [routerLink]="['/',user.username, 'wall']"
       [ngClass]="{'btn-outline-warning': !isActiveUser, 'btn-info':isActiveUser}"
       class="btn" >Времеплов</a>
  </div>

  <div *ngIf="!isActiveUser"  class="list-group mar-top-10">
    <a [routerLink]="['/',user.username, 'messages']" (click)="onClickSendMessage()"
       [ngClass]="{'btn-outline-warning': !isActiveUser, 'btn-info':isActiveUser}"
       class="btn"  >Испрати порака</a>
  </div>

  <br>

  <div class="list-group mar-top-10">
    <a [routerLink]="['/',user.username, 'details']"
       [ngClass]="{'btn-outline-warning': !isActiveUser, 'btn-info':isActiveUser}"
       class="btn"  >Профил</a>
  </div>
  <div class="list-group mar-top-10">
    <a [routerLink]="['/',user.username, 'friends']"
       [ngClass]="{'btn-outline-warning': !isActiveUser, 'btn-info':isActiveUser}"
       class="btn" >Пријатели</a>
  </div>
</div>
