<div *ngIf="profileRoute=='wall'"  class="my-flex-container justify-content-center">
  <div class="my-flex-container flex-column text-center pad-10 border-2-lightgray">
    <a [routerLink]="['/', wallUser.username , 'details']" class="flex-container justify-content-center">
      <div *ngIf="wallUser.profileType == 'teacher'">
        <img *ngIf="wallUser.gender == 'male'"  src="./assets/profile_pics/teacher_male.jpg">
        <img *ngIf="wallUser.gender == 'female'"  src="./assets/profile_pics/teacher_female.jpg">
      </div>
      <div *ngIf="wallUser.profileType == 'student'">
        <img *ngIf="wallUser.gender == 'male'" style="width: 170px; height: 150px;" src="./assets/profile_pics/student_male.jpg">
        <img *ngIf="wallUser.gender == 'female'"style="width: 170px; height: 150px;" src="./assets/profile_pics/student_female.jpg">
      </div>
      <div *ngIf="wallUser.profileType == 'parent'">
        <img *ngIf="wallUser.gender == 'male'" style="width: 170px; height: 150px;" src="./assets/profile_pics/parent_male.jpg">
        <img *ngIf="wallUser.gender == 'female'" style="width: 170px; height: 150px;" src="./assets/profile_pics/parent_female.jpg">
      </div>
    </a>

    <a [routerLink]="['/', wallUser.username , 'details']" class="text-center" >{{ wallUser.firstName + ' ' + wallUser.lastName}}</a>
  </div>
</div>

<div *ngIf="profileRoute=='newsFeed'" >
  <div class="my-flex-container justify-content-center">
    <div class="my-flex-container align-items-center text-center pad-10 border-2-lightgray">
      <a [routerLink]="['/', wallUser.username , 'details']" class="flex-container justify-content-center">
        <div *ngIf="wallUser.profileType == 'teacher'">
          <img class="height-50" *ngIf="wallUser.gender == 'male'"  src="./assets/profile_pics/teacher_male.jpg">
          <img class="height-50" *ngIf="wallUser.gender == 'female'"  src="./assets/profile_pics/teacher_female.jpg">
        </div>
        <div *ngIf="wallUser.profileType == 'student'">
          <img class="height-50" *ngIf="wallUser.gender == 'male'"  src="./assets/profile_pics/student_male.jpg">
          <img class="height-50" *ngIf="wallUser.gender == 'female'" src="./assets/profile_pics/student_female.jpg">
        </div>
        <div *ngIf="wallUser.profileType == 'parent'">
          <img class="height-50" *ngIf="wallUser.gender == 'male'"  src="./assets/profile_pics/parent_male.jpg">
          <img class="height-50" *ngIf="wallUser.gender == 'female'"  src="./assets/profile_pics/parent_female.jpg">
        </div>
      </a>

      <a [routerLink]="['/', wallUser.username , 'details']" class="text-center mar-left-10" >{{ wallUser.firstName + ' ' + wallUser.lastName }}</a>
    </div>
  </div>
</div>
