<div>
  <div class="pos-bottom" >
    <div class="x-container">
      <p *ngIf="collapseStatus === false" class="x" (click)="onCollapse()" >-</p>
      <p *ngIf="collapseStatus" class="x" (click)="onCollapse()" >+</p>
    </div>
    <a [routerLink]="" ><p (click)="onCollapse()" class="color-white text-center bg-black mar-0 pad-10">Активни пријатели</p></a>
    <div class="flex-container flex-column width-280 pad-10 bg-white border-2-lightgray scroll"
         [style.max-height] = "collapseStatus === true ? '0px' : '400px' "
         [style.padding] = "collapseStatus === true ? '0px' : '10px' ">
      <div *ngFor="let f of activeUserFriends;  let last = last;">
        <app-online-chat-user [animation]="last ? true : false" (click)="onlineUserClicked(f)" [user]="f"></app-online-chat-user>
      </div>
    </div>
  </div>

</div>
