<div *ngIf="isUserLoggedIn() && doneLoadingUser">
  <div>
    <app-header></app-header>
    <div class="my-flex-container  mar-top-30">
      <app-sidebar-cont [wallUser]="wallUser" class="mar-left-100"></app-sidebar-cont>

      <div class="mar-left-50 pad-10 bg-white border-2-lightgray width-550 ">
        <p class="h5 text-center">Детали за профилот:</p>

        <br>

        <table class="table table-user-information">
          <tbody>
          <tr>
            <td>Корисничко Име :</td>
            <td>{{wallUser.username}}</td>
          </tr>
          <tr>
            <td>Име :</td>
            <td>{{wallUser.firstName}}</td>
          </tr>
          <tr>
            <td>Презиме :</td>
            <td>{{wallUser.lastName}}</td>
          </tr>
          <tr>
            <td>Датум на раѓање: </td>
            <td>/</td>
          </tr>

          <tr>
          </tr><tr>
            <td>Пол</td>
            <td>{{wallUser.gender === 'male' ? "машко" : "женско"}}</td>
          </tr>
          <tr>
            <td>Адреса на живеење</td>
            <td>/</td>
          </tr>
          <tr>
            <td>Електронска пошта</td>
            <td><a href="mailto:info@support.com">example@support.com</a></td>
          </tr>
          <tr><td>Телефонски број</td>
            <td>/</td>
          </tr>

          </tbody>
        </table>
      </div>



      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
