<div class="my-flex-container justify-content-start " *ngIf="message.sendByUsername === activeUser.username">
  <p class="pad-5 msg-by-user" [ngClass]="{'animated': animation, 'wobble': animation}">{{message.text}}</p>
</div>

<div class="my-flex-container justify-content-end  " *ngIf="!(message.sendByUsername === activeUser.username)">
  <p class="pad-5 msg-by-friend" [ngClass]="{'animated': animation, 'wobble': animation}">{{message.text}}</p>
</div>

