.msg-by-user {
  max-width: 250px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 10px;
  margin-left: 0;
  background-color: #eefbff;
  box-shadow: 5px 5px 20px grey;
  border: 2px solid #8e8e8e;
}

.msg-by-friend {
  max-width: 250px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  padding: 10px;
  margin-left: 0;
  background-color: #ffefe7;
  box-shadow: 5px 5px 20px grey;
  border: 2px solid #8e8e8e;
}
