<div class="width-500 mar-left-10">
  <!--<div *ngFor="let m of getMessagesForActiveThread()">-->
  <div class="messagesGr" #refDivScroll [scrollTop] = refDivScroll.scrollHeight >
    <div *ngFor="let m of messagesByThread; let last = last">
      <app-chat-message-line [animation]="last ? true : false" [message]="m" [activeUser]="activeUser"></app-chat-message-line>
    </div>
  </div>

  <form action="" class="mar-top-20">
    <textarea [(ngModel)]="textArea" #ta (keyup.enter)="sendMessage(ta.value)" class="fullwidth"  type="text" name="post" placeholder="Напиши порака ..."></textarea>
  </form>


</div>
